a{
    text-decoration: none;
}

header{
    width: 100%;
    padding: 28px 3%;
    padding-bottom: 100px;
}

#nav_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 237px;
    height: 42px;
}

#menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 49px;
}

#menu a{
    color: #F5EADA;
    font-size: 24px;
    font-weight: 400;
}

#redes{
    display: flex;
    gap: 60px;
}

#donate{
    background-color: #561C24;
    color: #F5EADA;
    font-size: 20px;
    border: 1px solid #F5EADA;
    border-radius: 8px;
    padding: 5px 11px;
}

#redes_icon{
    display: flex;
    gap: 26px;
}

#redes_icon a{
    width: 44px;
    height: 44px;
}

.hov{
    transition: 0.3s ease-in-out;
}

.hov:hover{
    transform: scale(1.1);
}

#menu a:hover{
    color: #fff;
}

#mobile_btn{
    display: none;
    background-color: #561C24;
    border: none;
    cursor: pointer;
}

#mobile_menu{
    display: none;
    font-size: 1.3rem;
    position: absolute;
    width: 94%;
    padding: 20px;
    margin-top: 20px;
    font-weight: 500;
}

#mobile_menu a{
    color: #561C24;
}

#mobile_donate{
    display: none;
    background-color: transparent;
    color: #F5EADA;
    font-size: 20px;
    border: 1px solid #F5EADA;
    border-radius: 8px;
    padding: 5px 11px;
}