a{
    text-decoration: none;
}

header{
    width: 100%;
    padding: 28px 3%;
    padding-bottom: 100px;
}

#nav_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    width: 237px;
    height: 42px;
}

#menu li{
    display: flex;
    flex-direction: row;
    gap: 35px;
}

#menu a{
    color: #F5EADA;
    font-size: 24px;
    font-weight: 400;
}

#redes{
    display: flex;
    gap: 60px;
}

#donate{
    background-color: #561C24;
    color: #F5EADA;
    font-size: 20px;
    border: 1px solid #F5EADA;
    border-radius: 8px;
    padding: 5px 11px;
}

#redes_icon{
    display: flex;
    gap: 26px;
}

#redes_icon a{
    width: 44px;
    height: 44px;
}

.hov{
    transition: 0.3s ease-in-out;
}

.hov:hover{
    transform: scale(1.1);
}

#menu a:hover{
    color: #fff;
}